DS/Sabrana dela/WCF/DS materijal wcf/WCF/3. WCF- Lab3/ConsoleApp1/Connected Services/ServiceReferenceRegistracija/Arrays.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/_3.WCF__Lab3" />
  <xs:complexType name="ArrayOfKeyValueOfVlasnikArrayOfVoziloRsB8v5YG">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfVlasnikArrayOfVoziloRsB8v5YG">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/_3.WCF__Lab3" name="Key" nillable="true" type="q1:Vlasnik" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/_3.WCF__Lab3" name="Value" nillable="true" type="q2:ArrayOfVozilo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfVlasnikArrayOfVoziloRsB8v5YG" nillable="true" type="tns:ArrayOfKeyValueOfVlasnikArrayOfVoziloRsB8v5YG" />
</xs:schema>