DS/Sabrana dela/WCF/DS materijal wcf/WCF/3. WCF- Lab3/ConsoleApp1/Connected Services/ServiceReferenceRegistracija/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Registracija" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/_3.WCF__Lab3" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistracija_dodajRegistraciju_InputMessage">
    <wsdl:part name="parameters" element="tns:dodajRegistraciju" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_dodajRegistraciju_OutputMessage">
    <wsdl:part name="parameters" element="tns:dodajRegistracijuResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_vratiVozilaVlasnike_InputMessage">
    <wsdl:part name="parameters" element="tns:vratiVozilaVlasnike" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_vratiVozilaVlasnike_OutputMessage">
    <wsdl:part name="parameters" element="tns:vratiVozilaVlasnikeResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_posedujeModel_InputMessage">
    <wsdl:part name="parameters" element="tns:posedujeModel" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_posedujeModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:posedujeModelResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_vratiRegistracije_InputMessage">
    <wsdl:part name="parameters" element="tns:vratiRegistracije" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_vratiRegistracije_OutputMessage">
    <wsdl:part name="parameters" element="tns:vratiRegistracijeResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistracija">
    <wsdl:operation name="dodajRegistraciju">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracija/dodajRegistraciju" message="tns:IRegistracija_dodajRegistraciju_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracija/dodajRegistracijuResponse" message="tns:IRegistracija_dodajRegistraciju_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="vratiVozilaVlasnike">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracija/vratiVozilaVlasnike" message="tns:IRegistracija_vratiVozilaVlasnike_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracija/vratiVozilaVlasnikeResponse" message="tns:IRegistracija_vratiVozilaVlasnike_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="posedujeModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracija/posedujeModel" message="tns:IRegistracija_posedujeModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracija/posedujeModelResponse" message="tns:IRegistracija_posedujeModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="vratiRegistracije">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracija/vratiRegistracije" message="tns:IRegistracija_vratiRegistracije_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracija/vratiRegistracijeResponse" message="tns:IRegistracija_vratiRegistracije_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegistracija" type="tns:IRegistracija">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dodajRegistraciju">
      <soap:operation soapAction="http://tempuri.org/IRegistracija/dodajRegistraciju" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vratiVozilaVlasnike">
      <soap:operation soapAction="http://tempuri.org/IRegistracija/vratiVozilaVlasnike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="posedujeModel">
      <soap:operation soapAction="http://tempuri.org/IRegistracija/posedujeModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vratiRegistracije">
      <soap:operation soapAction="http://tempuri.org/IRegistracija/vratiRegistracije" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Registracija">
    <wsdl:port name="BasicHttpBinding_IRegistracija" binding="tns:BasicHttpBinding_IRegistracija">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/_3.WCF__Lab3/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>