DS/Sabrana dela/WCF/DS materijal wcf/WCF vezbanje/Z3 Registracija/RegistracijaKorisnik/Connected Services/ServiceReferenceRegistracija/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Registracija" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Z3_Registracija" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistracija_DodajRegistraciju_InputMessage">
    <wsdl:part name="parameters" element="tns:DodajRegistraciju" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_DodajRegistraciju_OutputMessage">
    <wsdl:part name="parameters" element="tns:DodajRegistracijuResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_VratiVozilaVlasnika_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiVozilaVlasnika" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_VratiVozilaVlasnika_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiVozilaVlasnikaResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_PosedujeModel_InputMessage">
    <wsdl:part name="parameters" element="tns:PosedujeModel" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_PosedujeModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:PosedujeModelResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_vratiVozila_InputMessage">
    <wsdl:part name="parameters" element="tns:vratiVozila" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_vratiVozila_OutputMessage">
    <wsdl:part name="parameters" element="tns:vratiVozilaResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistracija">
    <wsdl:operation name="DodajRegistraciju">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracija/DodajRegistraciju" message="tns:IRegistracija_DodajRegistraciju_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracija/DodajRegistracijuResponse" message="tns:IRegistracija_DodajRegistraciju_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiVozilaVlasnika">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracija/VratiVozilaVlasnika" message="tns:IRegistracija_VratiVozilaVlasnika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracija/VratiVozilaVlasnikaResponse" message="tns:IRegistracija_VratiVozilaVlasnika_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PosedujeModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracija/PosedujeModel" message="tns:IRegistracija_PosedujeModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracija/PosedujeModelResponse" message="tns:IRegistracija_PosedujeModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="vratiVozila">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracija/vratiVozila" message="tns:IRegistracija_vratiVozila_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracija/vratiVozilaResponse" message="tns:IRegistracija_vratiVozila_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegistracija" type="tns:IRegistracija">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DodajRegistraciju">
      <soap:operation soapAction="http://tempuri.org/IRegistracija/DodajRegistraciju" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiVozilaVlasnika">
      <soap:operation soapAction="http://tempuri.org/IRegistracija/VratiVozilaVlasnika" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PosedujeModel">
      <soap:operation soapAction="http://tempuri.org/IRegistracija/PosedujeModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vratiVozila">
      <soap:operation soapAction="http://tempuri.org/IRegistracija/vratiVozila" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Registracija">
    <wsdl:port name="BasicHttpBinding_IRegistracija" binding="tns:BasicHttpBinding_IRegistracija">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Z3_Registracija/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>