DS/Sabrana dela/WCF/DS materijal wcf/WCF/7. WCF- Dec 2018/ConsoleApp1/Connected Services/ServiceReferenceRegistracija/Arrays.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/_7.WCF__Dec_2018" />
  <xs:complexType name="ArrayOfKeyValueOfVlasnikArrayOfVoziloLsn7Q_SwL">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfVlasnikArrayOfVoziloLsn7Q_SwL">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/_7.WCF__Dec_2018" name="Key" nillable="true" type="q1:Vlasnik" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/_7.WCF__Dec_2018" name="Value" nillable="true" type="q2:ArrayOfVozilo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfVlasnikArrayOfVoziloLsn7Q_SwL" nillable="true" type="tns:ArrayOfKeyValueOfVlasnikArrayOfVoziloLsn7Q_SwL" />
</xs:schema>