DS/Sabrana dela/WCF/DS materijal wcf/WCF/7. WCF- Dec 2018/ConsoleApp1/Connected Services/ServiceReferenceRegistracija/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Registracija" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/_7.WCF__Dec_2018" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistracija_dodajRegistraciju_InputMessage">
    <wsdl:part name="parameters" element="tns:dodajRegistraciju" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_dodajRegistraciju_OutputMessage">
    <wsdl:part name="parameters" element="tns:dodajRegistracijuResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_vratiVozilaVlasnika_InputMessage">
    <wsdl:part name="parameters" element="tns:vratiVozilaVlasnika" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_vratiVozilaVlasnika_OutputMessage">
    <wsdl:part name="parameters" element="tns:vratiVozilaVlasnikaResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_posedujeVozilo_InputMessage">
    <wsdl:part name="parameters" element="tns:posedujeVozilo" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_posedujeVozilo_OutputMessage">
    <wsdl:part name="parameters" element="tns:posedujeVoziloResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_vratiRegistracije_InputMessage">
    <wsdl:part name="parameters" element="tns:vratiRegistracije" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_vratiRegistracije_OutputMessage">
    <wsdl:part name="parameters" element="tns:vratiRegistracijeResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistracija">
    <wsdl:operation name="dodajRegistraciju">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracija/dodajRegistraciju" message="tns:IRegistracija_dodajRegistraciju_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracija/dodajRegistracijuResponse" message="tns:IRegistracija_dodajRegistraciju_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="vratiVozilaVlasnika">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracija/vratiVozilaVlasnika" message="tns:IRegistracija_vratiVozilaVlasnika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracija/vratiVozilaVlasnikaResponse" message="tns:IRegistracija_vratiVozilaVlasnika_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="posedujeVozilo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracija/posedujeVozilo" message="tns:IRegistracija_posedujeVozilo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracija/posedujeVoziloResponse" message="tns:IRegistracija_posedujeVozilo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="vratiRegistracije">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracija/vratiRegistracije" message="tns:IRegistracija_vratiRegistracije_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracija/vratiRegistracijeResponse" message="tns:IRegistracija_vratiRegistracije_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegistracija" type="tns:IRegistracija">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dodajRegistraciju">
      <soap:operation soapAction="http://tempuri.org/IRegistracija/dodajRegistraciju" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vratiVozilaVlasnika">
      <soap:operation soapAction="http://tempuri.org/IRegistracija/vratiVozilaVlasnika" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="posedujeVozilo">
      <soap:operation soapAction="http://tempuri.org/IRegistracija/posedujeVozilo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vratiRegistracije">
      <soap:operation soapAction="http://tempuri.org/IRegistracija/vratiRegistracije" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Registracija">
    <wsdl:port name="BasicHttpBinding_IRegistracija" binding="tns:BasicHttpBinding_IRegistracija">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/_7.WCF__Dec_2018/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>