DS/Sabrana dela/WCF/DS materijal wcf/WCF vezbanje/Lab Z2 Banka/Banka Korisnik/Connected Services/ServiceReferenceBanka/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Uplati">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iznos" type="xs:decimal" />
        <xs:element minOccurs="0" name="valuta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="koef" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UplatiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Isplati">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iznos" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsplatiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsplatiResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostaviEur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="koef" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostaviEurResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiPromene">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiPromeneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="VratiPromeneResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>