DS/Sabrana dela/WCF/DS materijal wcf/WCF vezbanje/Lab Z2 Banka/Banka Korisnik/Connected Services/ServiceReferenceBanka/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Banka" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBanka_Uplati_InputMessage">
    <wsdl:part name="parameters" element="tns:Uplati" />
  </wsdl:message>
  <wsdl:message name="IBanka_Uplati_OutputMessage">
    <wsdl:part name="parameters" element="tns:UplatiResponse" />
  </wsdl:message>
  <wsdl:message name="IBanka_Isplati_InputMessage">
    <wsdl:part name="parameters" element="tns:Isplati" />
  </wsdl:message>
  <wsdl:message name="IBanka_Isplati_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsplatiResponse" />
  </wsdl:message>
  <wsdl:message name="IBanka_PostaviEur_InputMessage">
    <wsdl:part name="parameters" element="tns:PostaviEur" />
  </wsdl:message>
  <wsdl:message name="IBanka_PostaviEur_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostaviEurResponse" />
  </wsdl:message>
  <wsdl:message name="IBanka_VratiPromene_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiPromene" />
  </wsdl:message>
  <wsdl:message name="IBanka_VratiPromene_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiPromeneResponse" />
  </wsdl:message>
  <wsdl:portType name="IBanka">
    <wsdl:operation name="Uplati">
      <wsdl:input wsaw:Action="http://tempuri.org/IBanka/Uplati" message="tns:IBanka_Uplati_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBanka/UplatiResponse" message="tns:IBanka_Uplati_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Isplati">
      <wsdl:input wsaw:Action="http://tempuri.org/IBanka/Isplati" message="tns:IBanka_Isplati_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBanka/IsplatiResponse" message="tns:IBanka_Isplati_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostaviEur">
      <wsdl:input wsaw:Action="http://tempuri.org/IBanka/PostaviEur" message="tns:IBanka_PostaviEur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBanka/PostaviEurResponse" message="tns:IBanka_PostaviEur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiPromene">
      <wsdl:input wsaw:Action="http://tempuri.org/IBanka/VratiPromene" message="tns:IBanka_VratiPromene_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBanka/VratiPromeneResponse" message="tns:IBanka_VratiPromene_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBanka" type="tns:IBanka">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Uplati">
      <soap:operation soapAction="http://tempuri.org/IBanka/Uplati" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Isplati">
      <soap:operation soapAction="http://tempuri.org/IBanka/Isplati" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostaviEur">
      <soap:operation soapAction="http://tempuri.org/IBanka/PostaviEur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiPromene">
      <soap:operation soapAction="http://tempuri.org/IBanka/VratiPromene" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Banka">
    <wsdl:port name="BasicHttpBinding_IBanka" binding="tns:BasicHttpBinding_IBanka">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Lab_Z2_Banka/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>