DS/Sabrana dela/WCF/DS materijal wcf/WCF/1. WCF- Lab1/ConsoleApp2/Connected Services/ServiceReferenceCisterna/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Cisterna" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/_1.WCF__Lab1" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICisterna_dodajMaterijal_InputMessage">
    <wsdl:part name="parameters" element="tns:dodajMaterijal" />
  </wsdl:message>
  <wsdl:message name="ICisterna_dodajMaterijal_OutputMessage">
    <wsdl:part name="parameters" element="tns:dodajMaterijalResponse" />
  </wsdl:message>
  <wsdl:message name="ICisterna_ispustiZapreminu_InputMessage">
    <wsdl:part name="parameters" element="tns:ispustiZapreminu" />
  </wsdl:message>
  <wsdl:message name="ICisterna_ispustiZapreminu_OutputMessage">
    <wsdl:part name="parameters" element="tns:ispustiZapreminuResponse" />
  </wsdl:message>
  <wsdl:message name="ICisterna_trenutnoZauzece_InputMessage">
    <wsdl:part name="parameters" element="tns:trenutnoZauzece" />
  </wsdl:message>
  <wsdl:message name="ICisterna_trenutnoZauzece_OutputMessage">
    <wsdl:part name="parameters" element="tns:trenutnoZauzeceResponse" />
  </wsdl:message>
  <wsdl:message name="ICisterna_vratiPromene_InputMessage">
    <wsdl:part name="parameters" element="tns:vratiPromene" />
  </wsdl:message>
  <wsdl:message name="ICisterna_vratiPromene_OutputMessage">
    <wsdl:part name="parameters" element="tns:vratiPromeneResponse" />
  </wsdl:message>
  <wsdl:portType name="ICisterna">
    <wsdl:operation name="dodajMaterijal">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/dodajMaterijal" message="tns:ICisterna_dodajMaterijal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/dodajMaterijalResponse" message="tns:ICisterna_dodajMaterijal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ispustiZapreminu">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/ispustiZapreminu" message="tns:ICisterna_ispustiZapreminu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/ispustiZapreminuResponse" message="tns:ICisterna_ispustiZapreminu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="trenutnoZauzece">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/trenutnoZauzece" message="tns:ICisterna_trenutnoZauzece_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/trenutnoZauzeceResponse" message="tns:ICisterna_trenutnoZauzece_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="vratiPromene">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/vratiPromene" message="tns:ICisterna_vratiPromene_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/vratiPromeneResponse" message="tns:ICisterna_vratiPromene_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICisterna" type="tns:ICisterna">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dodajMaterijal">
      <soap:operation soapAction="http://tempuri.org/ICisterna/dodajMaterijal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ispustiZapreminu">
      <soap:operation soapAction="http://tempuri.org/ICisterna/ispustiZapreminu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="trenutnoZauzece">
      <soap:operation soapAction="http://tempuri.org/ICisterna/trenutnoZauzece" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vratiPromene">
      <soap:operation soapAction="http://tempuri.org/ICisterna/vratiPromene" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cisterna">
    <wsdl:port name="BasicHttpBinding_ICisterna" binding="tns:BasicHttpBinding_ICisterna">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/_1.WCF__Lab1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>