DS/Sabrana dela/WCF/DS materijal wcf/WCF vezbanje/Lab Z1 Cisterna/CisternaKorisnik/Connected Services/ServiceReferenceCisterna/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Cisterna" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Lab_Z1_Cisterna" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICisterna_DodajMateriju_InputMessage">
    <wsdl:part name="parameters" element="tns:DodajMateriju" />
  </wsdl:message>
  <wsdl:message name="ICisterna_DodajMateriju_OutputMessage">
    <wsdl:part name="parameters" element="tns:DodajMaterijuResponse" />
  </wsdl:message>
  <wsdl:message name="ICisterna_Ispusti_InputMessage">
    <wsdl:part name="parameters" element="tns:Ispusti" />
  </wsdl:message>
  <wsdl:message name="ICisterna_Ispusti_OutputMessage">
    <wsdl:part name="parameters" element="tns:IspustiResponse" />
  </wsdl:message>
  <wsdl:message name="ICisterna_GetStanje_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStanje" />
  </wsdl:message>
  <wsdl:message name="ICisterna_GetStanje_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStanjeResponse" />
  </wsdl:message>
  <wsdl:message name="ICisterna_GetPromene_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPromene" />
  </wsdl:message>
  <wsdl:message name="ICisterna_GetPromene_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPromeneResponse" />
  </wsdl:message>
  <wsdl:portType name="ICisterna">
    <wsdl:operation name="DodajMateriju">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/DodajMateriju" message="tns:ICisterna_DodajMateriju_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/DodajMaterijuResponse" message="tns:ICisterna_DodajMateriju_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ispusti">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/Ispusti" message="tns:ICisterna_Ispusti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/IspustiResponse" message="tns:ICisterna_Ispusti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStanje">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/GetStanje" message="tns:ICisterna_GetStanje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/GetStanjeResponse" message="tns:ICisterna_GetStanje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPromene">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/GetPromene" message="tns:ICisterna_GetPromene_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/GetPromeneResponse" message="tns:ICisterna_GetPromene_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICisterna" type="tns:ICisterna">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DodajMateriju">
      <soap:operation soapAction="http://tempuri.org/ICisterna/DodajMateriju" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ispusti">
      <soap:operation soapAction="http://tempuri.org/ICisterna/Ispusti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStanje">
      <soap:operation soapAction="http://tempuri.org/ICisterna/GetStanje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromene">
      <soap:operation soapAction="http://tempuri.org/ICisterna/GetPromene" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cisterna">
    <wsdl:port name="BasicHttpBinding_ICisterna" binding="tns:BasicHttpBinding_ICisterna">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Lab_Z1_Cisterna/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>