DS/Sabrana dela/WCF/DS materijal wcf/WCF vezbanje/Lab Z1 Cisterna/CisternaKorisnik/Connected Services/ServiceReferenceCisterna/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Lab_Z1_Cisterna" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DodajMateriju">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v" type="xs:float" />
        <xs:element minOccurs="0" name="ro" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajMaterijuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Ispusti">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IspustiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStanje">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStanjeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Lab_Z1_Cisterna" minOccurs="0" name="GetStanjeResult" nillable="true" type="q1:Stanje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromene">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromeneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPromeneResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>