DS/Sabrana dela/WCF/DS materijal wcf/WCF vezbanje/Z2 Banka/BankaKorisnik/Connected Services/ServiceReferenceRacun/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Racun" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRacun_Uplata_InputMessage">
    <wsdl:part name="parameters" element="tns:Uplata" />
  </wsdl:message>
  <wsdl:message name="IRacun_Uplata_OutputMessage">
    <wsdl:part name="parameters" element="tns:UplataResponse" />
  </wsdl:message>
  <wsdl:message name="IRacun_Isplata_InputMessage">
    <wsdl:part name="parameters" element="tns:Isplata" />
  </wsdl:message>
  <wsdl:message name="IRacun_Isplata_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsplataResponse" />
  </wsdl:message>
  <wsdl:message name="IRacun_SetKurs_InputMessage">
    <wsdl:part name="parameters" element="tns:SetKurs" />
  </wsdl:message>
  <wsdl:message name="IRacun_SetKurs_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetKursResponse" />
  </wsdl:message>
  <wsdl:message name="IRacun_GetPromene_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPromene" />
  </wsdl:message>
  <wsdl:message name="IRacun_GetPromene_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPromeneResponse" />
  </wsdl:message>
  <wsdl:portType name="IRacun">
    <wsdl:operation name="Uplata">
      <wsdl:input wsaw:Action="http://tempuri.org/IRacun/Uplata" message="tns:IRacun_Uplata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRacun/UplataResponse" message="tns:IRacun_Uplata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Isplata">
      <wsdl:input wsaw:Action="http://tempuri.org/IRacun/Isplata" message="tns:IRacun_Isplata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRacun/IsplataResponse" message="tns:IRacun_Isplata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetKurs">
      <wsdl:input wsaw:Action="http://tempuri.org/IRacun/SetKurs" message="tns:IRacun_SetKurs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRacun/SetKursResponse" message="tns:IRacun_SetKurs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPromene">
      <wsdl:input wsaw:Action="http://tempuri.org/IRacun/GetPromene" message="tns:IRacun_GetPromene_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRacun/GetPromeneResponse" message="tns:IRacun_GetPromene_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRacun" type="tns:IRacun">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Uplata">
      <soap:operation soapAction="http://tempuri.org/IRacun/Uplata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Isplata">
      <soap:operation soapAction="http://tempuri.org/IRacun/Isplata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetKurs">
      <soap:operation soapAction="http://tempuri.org/IRacun/SetKurs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromene">
      <soap:operation soapAction="http://tempuri.org/IRacun/GetPromene" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Racun">
    <wsdl:port name="BasicHttpBinding_IRacun" binding="tns:BasicHttpBinding_IRacun">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Z2_Banka/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>