DS/Sabrana dela/WCF/DS materijal wcf/WCF/WcfCisterna/CisternaClient/Connected Services/CisternaServiceReference/Cisterna1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53367/Cisterna.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfCisterna" />
  <xs:import schemaLocation="http://localhost:53367/Cisterna.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DodajMaterijal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="materijal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="V" type="xs:double" />
        <xs:element minOccurs="0" name="r" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajMaterijalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Ispusti">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="r" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IspustiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TrenutnoStanje">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TrenutnoStanjeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfCisterna" minOccurs="0" name="TrenutnoStanjeResult" nillable="true" type="q1:Stanje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiPromene">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiPromeneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="VratiPromeneResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>