DS/Sabrana dela/WCF/DS materijal wcf/WCF2/WCFTaxi/TaxiClient/Service References/TaxiServis/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://WXFTaxi.Service1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://WXFTaxi.Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://WXFTaxi.Service1/Imports">
      <xsd:import schemaLocation="http://localhost:59739/Service1.svc?xsd=xsd0" namespace="http://WXFTaxi.Service1" />
      <xsd:import schemaLocation="http://localhost:59739/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_RequestTaxi_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestTaxi" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTaxiStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTaxiStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterTaxi_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterTaxi" />
  </wsdl:message>
  <wsdl:message name="IService1_notifyTaxi_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:notifyTaxi" />
  </wsdl:message>
  <wsdl:message name="IService1_notifyUser_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:notifyUser" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IService1">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RequestTaxi">
      <wsdl:input wsaw:Action="http://WXFTaxi.Service1/IService1/RequestTaxi" message="tns:IService1_RequestTaxi_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetTaxiStatus">
      <wsdl:input wsaw:Action="http://WXFTaxi.Service1/IService1/SetTaxiStatus" message="tns:IService1_SetTaxiStatus_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegisterTaxi">
      <wsdl:input wsaw:Action="http://WXFTaxi.Service1/IService1/RegisterTaxi" message="tns:IService1_RegisterTaxi_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="notifyTaxi">
      <wsdl:output wsaw:Action="http://WXFTaxi.Service1/IService1/notifyTaxi" message="tns:IService1_notifyTaxi_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="notifyUser">
      <wsdl:output wsaw:Action="http://WXFTaxi.Service1/IService1/notifyUser" message="tns:IService1_notifyUser_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>