DS/Sabrana dela/WCF/Radjeni zadaci/WCF/WcfCisterna/CisternaClient/Connected Services/CisternaServiceReference/Cisterna.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Cisterna" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53367/Cisterna.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53367/Cisterna.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53367/Cisterna.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfCisterna" />
      <xsd:import schemaLocation="http://localhost:53367/Cisterna.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICisterna_DodajMaterijal_InputMessage">
    <wsdl:part name="parameters" element="tns:DodajMaterijal" />
  </wsdl:message>
  <wsdl:message name="ICisterna_DodajMaterijal_OutputMessage">
    <wsdl:part name="parameters" element="tns:DodajMaterijalResponse" />
  </wsdl:message>
  <wsdl:message name="ICisterna_Ispusti_InputMessage">
    <wsdl:part name="parameters" element="tns:Ispusti" />
  </wsdl:message>
  <wsdl:message name="ICisterna_Ispusti_OutputMessage">
    <wsdl:part name="parameters" element="tns:IspustiResponse" />
  </wsdl:message>
  <wsdl:message name="ICisterna_TrenutnoStanje_InputMessage">
    <wsdl:part name="parameters" element="tns:TrenutnoStanje" />
  </wsdl:message>
  <wsdl:message name="ICisterna_TrenutnoStanje_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrenutnoStanjeResponse" />
  </wsdl:message>
  <wsdl:message name="ICisterna_VratiPromene_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiPromene" />
  </wsdl:message>
  <wsdl:message name="ICisterna_VratiPromene_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiPromeneResponse" />
  </wsdl:message>
  <wsdl:portType name="ICisterna">
    <wsdl:operation name="DodajMaterijal">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/DodajMaterijal" message="tns:ICisterna_DodajMaterijal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/DodajMaterijalResponse" message="tns:ICisterna_DodajMaterijal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ispusti">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/Ispusti" message="tns:ICisterna_Ispusti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/IspustiResponse" message="tns:ICisterna_Ispusti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrenutnoStanje">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/TrenutnoStanje" message="tns:ICisterna_TrenutnoStanje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/TrenutnoStanjeResponse" message="tns:ICisterna_TrenutnoStanje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiPromene">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/VratiPromene" message="tns:ICisterna_VratiPromene_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/VratiPromeneResponse" message="tns:ICisterna_VratiPromene_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICisterna" type="tns:ICisterna">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DodajMaterijal">
      <soap:operation soapAction="http://tempuri.org/ICisterna/DodajMaterijal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ispusti">
      <soap:operation soapAction="http://tempuri.org/ICisterna/Ispusti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrenutnoStanje">
      <soap:operation soapAction="http://tempuri.org/ICisterna/TrenutnoStanje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiPromene">
      <soap:operation soapAction="http://tempuri.org/ICisterna/VratiPromene" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cisterna">
    <wsdl:port name="BasicHttpBinding_ICisterna" binding="tns:BasicHttpBinding_ICisterna">
      <soap:address location="http://localhost:53367/Cisterna.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>