DS/Sabrana dela/WCF/DS materijal wcf/WCF/6. WCF- Sep 2018/ConsoleApp1/Connected Services/ServiceReferenceBanka/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="uplati">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iznos" type="xs:double" />
        <xs:element minOccurs="0" name="valuta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kursPremaEvru" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uplatiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="isplatiDinare">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iznos" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isplatiDinareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isplatiDinareResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="namestiKoef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="koef" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="namestiKoefResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromene">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromeneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPromeneResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>