DS/Sabrana dela/WCF/DS materijal wcf/WCF vezbanje/WCF Lab Kviz/WCF Korisnik/Connected Services/ServiceReferenceKviz/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Kviz" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Lab_Kviz" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKviz_Inicijalizuj_InputMessage">
    <wsdl:part name="parameters" element="tns:Inicijalizuj" />
  </wsdl:message>
  <wsdl:message name="IKviz_Inicijalizuj_OutputMessage">
    <wsdl:part name="parameters" element="tns:InicijalizujResponse" />
  </wsdl:message>
  <wsdl:message name="IKviz_VratiBrojPoena_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiBrojPoena" />
  </wsdl:message>
  <wsdl:message name="IKviz_VratiBrojPoena_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiBrojPoenaResponse" />
  </wsdl:message>
  <wsdl:message name="IKviz_VratiPitanje_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiPitanje" />
  </wsdl:message>
  <wsdl:message name="IKviz_VratiPitanje_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiPitanjeResponse" />
  </wsdl:message>
  <wsdl:message name="IKviz_Odgovor_InputMessage">
    <wsdl:part name="parameters" element="tns:Odgovor" />
  </wsdl:message>
  <wsdl:message name="IKviz_Odgovor_OutputMessage">
    <wsdl:part name="parameters" element="tns:OdgovorResponse" />
  </wsdl:message>
  <wsdl:portType name="IKviz">
    <wsdl:operation name="Inicijalizuj">
      <wsdl:input wsaw:Action="http://tempuri.org/IKviz/Inicijalizuj" message="tns:IKviz_Inicijalizuj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKviz/InicijalizujResponse" message="tns:IKviz_Inicijalizuj_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiBrojPoena">
      <wsdl:input wsaw:Action="http://tempuri.org/IKviz/VratiBrojPoena" message="tns:IKviz_VratiBrojPoena_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKviz/VratiBrojPoenaResponse" message="tns:IKviz_VratiBrojPoena_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiPitanje">
      <wsdl:input wsaw:Action="http://tempuri.org/IKviz/VratiPitanje" message="tns:IKviz_VratiPitanje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKviz/VratiPitanjeResponse" message="tns:IKviz_VratiPitanje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Odgovor">
      <wsdl:input wsaw:Action="http://tempuri.org/IKviz/Odgovor" message="tns:IKviz_Odgovor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKviz/OdgovorResponse" message="tns:IKviz_Odgovor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKviz" type="tns:IKviz">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Inicijalizuj">
      <soap:operation soapAction="http://tempuri.org/IKviz/Inicijalizuj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiBrojPoena">
      <soap:operation soapAction="http://tempuri.org/IKviz/VratiBrojPoena" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiPitanje">
      <soap:operation soapAction="http://tempuri.org/IKviz/VratiPitanje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Odgovor">
      <soap:operation soapAction="http://tempuri.org/IKviz/Odgovor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Kviz">
    <wsdl:port name="BasicHttpBinding_IKviz" binding="tns:BasicHttpBinding_IKviz">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Lab_Kviz/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>