DS/Sabrana dela/WCF/DS materijal wcf/WCF vezbanje/WCF Lab Kviz/WCF Korisnik/Connected Services/ServiceReferenceKviz/WCF_Lab_Kviz.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Lab_Kviz" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Lab_Kviz" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pitanje">
    <xs:sequence>
      <xs:element minOccurs="0" name="A" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="B" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="C" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostavkaPitanja" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pitanje" nillable="true" type="tns:Pitanje" />
</xs:schema>