DS/Sabrana dela/WCF/DS materijal wcf/WCF/2. WCF- Lab2/ConsoleApp2/Connected Services/ServiceReferenceBanka/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="uplati">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iznos" type="xs:double" />
        <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="koefEur" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uplatiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="isplati">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dinara" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isplatiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isplatiResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="prebaciEurUDinar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vrednost" type="xs:double" />
        <xs:element minOccurs="0" name="koef" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="prebaciEurUDinarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Promene">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PromeneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PromeneResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>