DS/Sabrana dela/WCF/DS materijal wcf/WCF/5. WCF- Dec 2019/ConsoleApp1/Connected Services/ServiceReferenceBus/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RegistrujLiniju">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sifra" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stanice" nillable="true" type="q1:ArrayOfKeyValueOfstringdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrujLinijuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vratiLinije">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stanica" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vratiLinijeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vratiLinijeResult" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vratiLinijeKojeStaju">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stanica" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="staje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vratiLinijeKojeStajuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vratiLinijeKojeStajuResult" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vratiStanice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kod" type="xs:int" />
        <xs:element minOccurs="0" name="stanica" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vratiStaniceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vratiStaniceResult" nillable="true" type="q4:ArrayOfKeyValueOfstringdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>