DS/Sabrana dela/WCF/DS materijal wcf/WCF vezbanje/WCF Registracija/RegistracijaKorisnik/Connected Services/ServiceReferenceRegistracija/Arrays.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Registracija" />
  <xs:complexType name="ArrayOfKeyValueOfVozacArrayOfVozilot1MLMGNd">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfVozacArrayOfVozilot1MLMGNd">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Registracija" name="Key" nillable="true" type="q1:Vozac" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Registracija" name="Value" nillable="true" type="q2:ArrayOfVozilo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfVozacArrayOfVozilot1MLMGNd" nillable="true" type="tns:ArrayOfKeyValueOfVozacArrayOfVozilot1MLMGNd" />
</xs:schema>