DS/Sabrana dela/WCF/DS materijal wcf/WCF vezbanje/WCF Registracija/RegistracijaKorisnik/Connected Services/ServiceReferenceRegistracija/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Registracija" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Registracija" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistracija_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_VratiVozace_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiVozace" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_VratiVozace_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiVozaceResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_VratiVozila_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiVozila" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_VratiVozila_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiVozilaResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_VratiSve_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiSve" />
  </wsdl:message>
  <wsdl:message name="IRegistracija_VratiSve_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiSveResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistracija">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracija/Add" message="tns:IRegistracija_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracija/AddResponse" message="tns:IRegistracija_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiVozace">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracija/VratiVozace" message="tns:IRegistracija_VratiVozace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracija/VratiVozaceResponse" message="tns:IRegistracija_VratiVozace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiVozila">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracija/VratiVozila" message="tns:IRegistracija_VratiVozila_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracija/VratiVozilaResponse" message="tns:IRegistracija_VratiVozila_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiSve">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracija/VratiSve" message="tns:IRegistracija_VratiSve_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracija/VratiSveResponse" message="tns:IRegistracija_VratiSve_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegistracija" type="tns:IRegistracija">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IRegistracija/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiVozace">
      <soap:operation soapAction="http://tempuri.org/IRegistracija/VratiVozace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiVozila">
      <soap:operation soapAction="http://tempuri.org/IRegistracija/VratiVozila" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiSve">
      <soap:operation soapAction="http://tempuri.org/IRegistracija/VratiSve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Registracija">
    <wsdl:port name="BasicHttpBinding_IRegistracija" binding="tns:BasicHttpBinding_IRegistracija">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Registracija/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>