DS/Sabrana dela/WCF/DS materijal wcf/WCF vezbanje/WCF Registracija/RegistracijaKorisnik/Connected Services/ServiceReferenceRegistracija/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Registracija" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Registracija" minOccurs="0" name="vozilo" nillable="true" type="q1:Vozilo" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Registracija" minOccurs="0" name="vozac" nillable="true" type="q2:Vozac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVozace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVozaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Registracija" minOccurs="0" name="VratiVozaceResult" nillable="true" type="q3:ArrayOfVozac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVozila">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Registracija" minOccurs="0" name="v" nillable="true" type="q4:Vozac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVozilaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_Registracija" minOccurs="0" name="VratiVozilaResult" nillable="true" type="q5:ArrayOfVozilo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSve">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="VratiSveResult" nillable="true" type="q6:ArrayOfKeyValueOfVozacArrayOfVozilot1MLMGNd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>