DS/Sabrana dela/WCF/DS materijal wcf/WCF vezbanje/WCF Registracija/RegistracijaKorisnik/Connected Services/ServiceReferenceRegistracija/WCF_Registracija.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Registracija" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Registracija" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Vozilo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Marka" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vozilo" nillable="true" type="tns:Vozilo" />
  <xs:complexType name="Vozac">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JMBG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prezime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vozac" nillable="true" type="tns:Vozac" />
  <xs:complexType name="ArrayOfVozac">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vozac" nillable="true" type="tns:Vozac" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVozac" nillable="true" type="tns:ArrayOfVozac" />
  <xs:complexType name="ArrayOfVozilo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vozilo" nillable="true" type="tns:Vozilo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVozilo" nillable="true" type="tns:ArrayOfVozilo" />
</xs:schema>