DS/Sabrana dela/WCF/DS materijal wcf/WCF vezbanje/Z1 Cisterna/CisternaKlijent/Connected Services/ServiceReferenceCisterna/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Cisterna" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Z1_Cisterna" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICisterna_Dodaj_InputMessage">
    <wsdl:part name="parameters" element="tns:Dodaj" />
  </wsdl:message>
  <wsdl:message name="ICisterna_Dodaj_OutputMessage">
    <wsdl:part name="parameters" element="tns:DodajResponse" />
  </wsdl:message>
  <wsdl:message name="ICisterna_Ispusti_InputMessage">
    <wsdl:part name="parameters" element="tns:Ispusti" />
  </wsdl:message>
  <wsdl:message name="ICisterna_Ispusti_OutputMessage">
    <wsdl:part name="parameters" element="tns:IspustiResponse" />
  </wsdl:message>
  <wsdl:message name="ICisterna_Stanje_InputMessage">
    <wsdl:part name="parameters" element="tns:Stanje" />
  </wsdl:message>
  <wsdl:message name="ICisterna_Stanje_OutputMessage">
    <wsdl:part name="parameters" element="tns:StanjeResponse" />
  </wsdl:message>
  <wsdl:message name="ICisterna_SvePromene_InputMessage">
    <wsdl:part name="parameters" element="tns:SvePromene" />
  </wsdl:message>
  <wsdl:message name="ICisterna_SvePromene_OutputMessage">
    <wsdl:part name="parameters" element="tns:SvePromeneResponse" />
  </wsdl:message>
  <wsdl:portType name="ICisterna">
    <wsdl:operation name="Dodaj">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/Dodaj" message="tns:ICisterna_Dodaj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/DodajResponse" message="tns:ICisterna_Dodaj_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ispusti">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/Ispusti" message="tns:ICisterna_Ispusti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/IspustiResponse" message="tns:ICisterna_Ispusti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stanje">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/Stanje" message="tns:ICisterna_Stanje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/StanjeResponse" message="tns:ICisterna_Stanje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SvePromene">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/SvePromene" message="tns:ICisterna_SvePromene_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/SvePromeneResponse" message="tns:ICisterna_SvePromene_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICisterna" type="tns:ICisterna">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Dodaj">
      <soap:operation soapAction="http://tempuri.org/ICisterna/Dodaj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ispusti">
      <soap:operation soapAction="http://tempuri.org/ICisterna/Ispusti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stanje">
      <soap:operation soapAction="http://tempuri.org/ICisterna/Stanje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SvePromene">
      <soap:operation soapAction="http://tempuri.org/ICisterna/SvePromene" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cisterna">
    <wsdl:port name="BasicHttpBinding_ICisterna" binding="tns:BasicHttpBinding_ICisterna">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Z1_Cisterna/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>